html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #6366f1;
}

/* html.light {
  background-color: #f0f0f0;
  color: #111;
}

html.dark {
  background-color: #6366f1;
  color: #f0f0f0;
} */

