@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* ================================
   TAILWIND BASE OVERRIDES
================================ */
@layer base {
  html,
  body,
  #root {
    min-height: 100%;
  }
}
